<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>ROS2 CI</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:Andy-Leo10/tortoisebot_ros2_ci-.git</url>
        <credentialsId>a91ce451-b1aa-4046-ab8e-af41a166a445</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/user/webpage_ws/ros2_automation/
ls
bash check_docker.sh

# Get the IDs of all running Docker containers
container_ids=$(docker ps -q)
# If there are any running Docker containers, kill them
if [ ! -z &quot;$container_ids&quot; ]
then
    docker kill $container_ids
fi

# Remove all stopped containers
docker container prune -f</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd
source /opt/ros/galactic/setup.bash
source ros2_ws/install/setup.bash

# Check X11 display settings
ls -la /tmp/.X11-unix/
echo $DISPLAY
# Remove access control restrictions
xhost +local:root

sudo usermod -aG docker $USER</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd /home/user/webpage_ws/ros2_automation/
ls
bash docker_commands.sh</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>